<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
 
  <title>{{ page.title }}</title> 
  <meta name="author" content="lenin" />
  <link href='http://fonts.googleapis.com/css?family=Lato:light,regular,bold' rel='stylesheet' type='text/css'>
  <link href="css/reset.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link rel="alternate" type="application/rss+xml" href="atom.xml" title="RSS feed">
</head> 
 
    <body> 
        <div id="header">
            <div class="inner">
                <h1><a href="/">TurboCRM Cluster Express</a></h1>
                <h3>A cluster configuration tool for TurboCRM.</h3>
                <ul>
                    <li><a class="zip_download_link" href="https://github.com/xbot/TurboCRM-Cluster-Express/zipball/master">Download this project as a .zip file</a></li>
                    <li><a class="tar_download_link" href="https://github.com/xbot/TurboCRM-Cluster-Express/tarball/master">Download this project as a tar.gz file</a></li>
                </ul>
            </div>
        </div>
                
        <div id="content">
            <div class="inner">
                {{ content }}
            </div>
        </div>
        
        <div id="footer" class="clearfix">
            <div class="inner">
                <div class="archives">
                    <table>
                        <tr>
                            <td>TurboCRM Cluster Express maintained by <b>lidonga</b>.</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </body> 
</html>
